@using EPiServer.Web.Mvc.Html
@model OptimizelyTwelveTest.Features.Common.Pages.ISitePageData 

<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("MetaData", new { sitePage = Model })

    @await Html.RenderEPiServerQuickNavigatorAsync()
</head>
<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>