@using EPiServer.Web.Mvc.Html

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    @await Html.RenderEPiServerQuickNavigatorAsync()
</head>
<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>