@using EPiServer.Web.Mvc.Html
@model OptimizelyTwelveTest.Features.Common.Pages.ISitePageModel<OptimizelyTwelveTest.Features.Home.HomePage>

<div>
    @Html.PropertyFor(x => x.Content.HeroImage)
    <h1>@Html.PropertyFor(x => x.Content.Heading)</h1>
    <div>
        @Html.PropertyFor(x => x.Content.MainContentArea)
    </div>
</div>