@using EPiServer.Web.Mvc.Html
@model OptimizelyTwelveTest.Features.Search.SearchPage

<div>
    @Html.PropertyFor(x => x.HeroImage)
    <h1>@Html.PropertyFor(x => x.Heading)</h1>
    <div>
        <span>Search stuff to go here.</span>
    </div>
</div>