@model Stott.Optimizely.RobotsHandler.UI.ViewModels.RobotsEditViewModel

@{
    Layout = "_RobotsLayout";
}

<div class="row">
    <div class="col">
        <h1>
            Robots.txt Management
        </h1>

        <p>Editing robots.txt for <strong>@Model.SiteName</strong>.</p>

        <form asp-controller="Robots" asp-action="Admin" method="post" class="mt-2">
            @Html.HiddenFor(x => x.SiteId)
            @Html.HiddenFor(x => x.SiteName)

            <div class="mb-3">
                @Html.TextAreaFor(x => x.RobotsContent, 10, 60, new { @class = "form-control" })
            </div>

            <div class="mb-3">
                <input type="submit" value="Submit" class="form-control btn btn-primary" />
            </div>
        </form>
    </div>
</div>

