@using EPiServer.Shell.Navigation

@model Stott.Optimizely.RobotsHandler.UI.ViewModels.RobotsAdminViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content Security Policy Management</title>
    @Html.CreatePlatformNavigationMenu()
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        div.admin-container {
            display: inline-block;
            margin-top: 60px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="admin-container">
        <h1>
            Robots.txt Management
        </h1>
        @if (Model.CurrentSiteId != null)
        {
            <p>Current Site Id: @Model.CurrentSiteId.Value</p>
            <p>Current Site Name: @Model.CurrentSiteName</p>
        }

        @Html.TextAreaFor(x => x.CurrentRobotsContent)
    </div>
</body>
</html>
